.Header {
  display: flex;
  align-items: center;
  background-color: var(--background-dark);
  padding: 0.2rem;
}

.Header__logo {
  font-size: 4rem;
  text-decoration: none;
  align-self: center;
  margin-left: 2rem;
  color: var(--text-main);
}
