.Search {
  display: flex;
}

.Search__input {
  padding: 0.5rem;
  margin-left: 2rem;
  width: 50rem;
  border-radius: 5rem;
  border: none;
  font-size: 1.5rem;
}

.Search__icon {
  margin-left: -3.5rem;
  cursor: pointer;
}

@media only screen and (max-width: 770px) {
  .Search__input {
    width: 50rem;
    margin-left: 0;
  }
}

@media only screen and (max-width: 375px) {
  .Search {
    margin-bottom: 2rem;
  }
  .Search__input {
    width: 30rem;
  }
}
