.Image {
  padding: 1rem;
}

.Image__container {
  display: flex;
}
.Image__container-img {
  max-width: 70%;
}

@media only screen and (max-width: 1024px) {
  .Image__container {
    flex-direction: column;
  }
  .Image__container-img {
    max-width: 100%;
  }
}
